body {
  color: #3e4b52;
  font-size: 15px;
}

.header {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 420px) {
  .coinomi-logo {
    width: 100%;
    height: auto;
  }
}

/* Change when updating the hero image to match image size + 20px */
@media (max-width: 680px) {
  .hero {
    width: 100%;
    height: auto;
  }
}

.features {
  padding: 30px 0;
}

.feature {
  text-align: center;
  padding: 10px;
}

.feature .glyphicon {
  font-size: 50px;
}

.leave-space-down {
  padding-bottom: 20px;
}

.leave-space-up {
  padding-top: 20px;
}

.call-to-action {
  text-align: center;
}

.founders {
  text-align: center;
}

.resource {
  width: auto;
  display: block;
  text-align: center;
}

/* .donations img {
    margin-top: 2px;
    height: 25px;
    width: 25px;
    } */

    .member {
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.08);
      border-radius: 4px;
      padding: 35px 40px 25px;
      text-align: center;
    }

    .member-avatar {
      border: 10px solid #428bca;
      border-radius: 50%;
      display: inline-block;
      margin: 0 0 20px;
    }

    .member-name {
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 0.04em;
      margin: 0;
      text-transform: uppercase;
    }

    .member-position {
      font-size: 17px;
      font-weight: 300;
      margin: 0;
    }

    .user-contact-form-submit {
      text-align: right;
    }


/*
 * Footer
 */

 .footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}


.cnm-color1 {
  color: #79AB5D;
}

.cnm-color2 {
  color: #F59226;
}

.cnm-color3 {
  color: #729AEE;
}

.cnm-color4 {
  color: #F2D453;
}

.cnm-color5 {
  color: #73C7EF;
}

.cnm-color6 {
  color: #DC3916;
}

.cnm-color7 {
  color: #658FA1;
}

.cnm-color8 {
  color: #4FBC9C;
}

.cnm-color9 {
  color: #F8BF2F;
}

.anchor {
  padding-top:73px; 
  margin-top:-73px;
}

/*.navbar-logo {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.navbar-logo:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
*/

.faqHeader {
  font-size: 24px;
  margin: 20px;
}

.supported-coins {
  padding-bottom:25px; 
  text-align:center; 
  vertical-align:middle;
}

.footer-span
{
  margin-left:10px;
  margin-right:10px;
}

/* custom navbar color scheme START */
/* gkim says: to change colors visit: http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0 */
.navbar-default {
  background-color: #03a9f4;
  border-color: #039be5;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #b3e5fc;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #b3e5fc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #b3e5fc;
  background-color: #039be5;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #b3e5fc;
  background-color: #039be5;
}
.navbar-default .navbar-toggle {
  border-color: #039be5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #039be5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #b3e5fc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b3e5fc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b3e5fc;
    background-color: #039be5;
  }
}
/* custom navbar color scheme END */