---
layout: default
title: Coinomi - Suport
---
<div class="container">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h4>Need help?</h4>
    <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color6"></i> <i class=
           "fa fa-medkit fa-stack-1x fa-inverse"></i></span>
  </div>
  <div class="row leave-space-down call-to-action">
    <div class="col-md-10 col-md-offset-1 text-left">
      <p>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Please take some time to browse through the <strong><a href="/faq">Frequently Asked Questions</a></strong> before you ask for help.
        </div>
        The best way to seek for help is by sending us an e-mail at: <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#099;&#111;&#105;&#110;&#111;&#109;&#105;&#046;&#099;&#111;&#109;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#099;&#111;&#105;&#110;&#111;&#109;&#105;&#046;&#099;&#111;&#109;</a> clearly describing the challenge you are facing.  
        <br /><br />Feel free to attach any screenshots or other details that you believe might be helpful (but please don't send us your <i>seed phrase</i>) and we'll get back to you at our earliest convenience. 
      </p>
    </div>
  </div>
</div>