---
layout: default
title: Coinomi - Free, Secure, Open-Source, Multi-Coin, HD Wallet for Bitcoin and Altcoins
customjs:
- /js/smooth_transition.js
---
<div class="container">
	<div class="header">
        <a href="/">
            <img class="coinomi-logo" src="../img/logo-plain.png" alt="Coinomi" width="350px">
        </a> 
        <p class="lead" style="padding-bottom:10px; font-size:20x; ">
            Free Secure Open-Source Multi-Coin HD Wallet for Bitcoin and Altcoins
        </p>

        <a href="https://play.google.com/store/apps/details?id=com.coinomi.wallet"
        onclick="recordOutboundLinks('Play Store link', this.href); return true;">
        <img alt="Android app on Google Play" src="../img/google-play-store.png" />
    </a>
        <!--<a href="#"
        onclick="recordOutboundLinks('App Store link', this.href); return true;">-->
        <img alt="Coming Soon: iOS app on App Store"
        src="../img/app-store-coming-soon.png" 
        title="Coming Soon"/>
        <!--</a>-->
        <p class="text-muted leave-space-up">
        	or <a href="https://github.com/Coinomi/coinomi-android/releases/latest" target="_blank">download</a> the latest APK
        </p>
    </div>
    <div class="row features">
    	<div class="col-md-12">
    		<img class="center-block hero leave-space-down" src="img/wallet-ui-sneak-peak-3.png" alt="Coinomi UI Sneak Peak" width="550px"/>
    	</div>
    </div>

    <hr>

<!-- Features START -->
    <div class="row features anchor" id="features">
        <!--<center><h4>Key Features</h4></center>
        <br /> -->
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
           <div class="col-sm-4 feature">
            <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color1"></i> <i class=
             "fa fa-globe fa-stack-1x fa-inverse"></i></span>

             <h3>Multi-Coin</h3>

             <p>Keep all kinds of different coins in the same wallet! Coinomi universal wallet allows you to control all different coins through a single app! No more need to
              keep and maintain all sorts of wallets on your devices and having to go through the pain of having to deal with
              unsynchronized, bandwidth and storage demanding, slow and non-responsive wallet apps!</p>
          </div>

          <div class="col-sm-4 feature">
              <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color2"></i> <i class=
               "fa fa-shield fa-stack-1x fa-inverse"></i></span>

               <h3>Very Secure</h3>

               <p>Your <a href="https://en.bitcoin.it/wiki/Private_key" target="_blank">private keys</a> <strong>never</strong> leave your device. We use strong public cryptography and the best industry practices. We make
                sure that your money is totally safe by ensuring that you have the ultimate control over it! Your wallet is encrypted with
                a master password making it very resistant against hackers and malicious software.</p>
            </div>

            <div class="col-sm-4 feature">
                <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color3"></i> <i class=
                 "fa fa-user-secret fa-stack-1x fa-inverse"></i></span>

                 <h3>Enhanced Privacy</h3>

                 <p>Coinomi favors privacy in a way that it doesn't perform any kind of association between your real-world identity and
                  your wallet, your funds or even the way you spend or obtain them. No personal details ever go through Coinomi and spending
                  your funds is totally anonymous as <strong>Coinomi hides your <a href="http://en.wikipedia.org/wiki/IP_address" target="_blank">IP
                  address</a></strong> from the rest of the world when pushing your transactions to the <a href="https://en.bitcoin.it/wiki/Block_chain" target="_blank">blockchain</a>.</p>
              </div>
          </div>
      </div>

      <div class="col-md-10 col-md-offset-1">
        <div class="row">
         <div class="col-sm-4 feature">
          <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color4"></i> <i class=
           "fa fa-floppy-o fa-stack-1x fa-inverse"></i></span>

           <h3>One-time Backup</h3>

           <p>All your coins are accessed with one <a href="https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki" target=
            "_blank">Hierarchical Deterministic Wallet (BIP44)</a>, so instead of having to regularly back-up every wallet for every
            single coin, all you have to do is keep a simple phrase in a safe place (even on a piece of paper) <strong>only once</strong>! Never lose
            your funds ever again!</p>
        </div>

        <div class="col-sm-4 feature">
            <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color5"></i> <i class=
             "fa fa-cube fa-stack-1x fa-inverse"></i></span>

             <h3>Versatile</h3>

             <p>Use your <a href="https://en.bitcoin.it/wiki/Altcoin" target="_blank">altcoins</a> to pay <strong>directly</strong> to bitcoin addresses and vice versa!
              No intermediate stages, no sign-up required, spend your any-coins to make any-coin payments through a single-click process!
              Coinomi is the fastest and most convenient wallet when it comes to heterogeneous payments and cross-chain transactions!</p>
          </div>

          <div class="col-sm-4 feature">
              <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color6"></i> <i class=
               "fa fa-exchange fa-stack-1x fa-inverse"></i></span>

               <h3>Exchange Inside</h3>

               <p>Converting from one coin to another is ridiculously easy, only a few taps away and totally anonymous with our embedded
                <a href="https://shapeshift.io/" target="_blank">ShapeShift</a> integration. Change from one coin to another instantly and anonymously without leaving your wallet!</p>
            </div>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <div class="row">
       <div class="col-sm-4 feature">
        <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color7"></i> <i class=
         "fa fa-github fa-stack-1x fa-inverse"></i></span>

         <h3>Open Source</h3>

         <p>Coinomi is open source which means the code is <a href="https://github.com/coinomi/" target="_blank">publicly available</a>, can be reviewed by everyone and anyone can suggest changes. No hidden code, no
          malicious modules, no exploits, no small letters. Why trust your money to closed-source wallets when you can keep it in a 
          publicly reviewed, totally transparent wallet?</p>
      </div>

      <div class="col-sm-4 feature">
          <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color8"></i> <i class=
           "fa fa-anchor fa-stack-1x fa-inverse"></i></span>

           <h3>Lightweight</h3>

           <p>Light as a feather! Coinomi is specifically designed to be able to run smoothly even in older, low-spec devices.</p>
       </div>


       <div class="col-sm-4 feature">
           <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x cnm-color9"></i> <i class=
              "fa fa-language fa-stack-1x fa-inverse"></i></span>

              <h3>Multilingual</h3>

              <p>Apart from English, Coinomi is also translated to Chinese, Greek, Italian, Japanese, Spanish and Russian, with more translations coming soon!</p>
          </div>
      </div>
  </div>
</div>
<!-- Features END -->

<hr>

<!-- Supported Coins START -->
<div class="row features anchor" id="supported-coins">
    <center><h4>Supported Coins</h4></center>
    <br />
    {% for coin in site.data.supported_coins %}
    <div class="col-xs-6 col-sm-3 col-md-2" style="padding-bottom:25px; text-align:center; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/Coinomi/crypto-icons/master/png/{{ coin.icon }}.png" width="65px;" alt="{{ coin.icon }}"/>
        <div style="text-align:center; vertical-align:middle; padding:2px;">
            <strong><a href="{{ coin.url }}" target="_blank">{{ coin.name }}</a></strong>
        </div>
    </div>
    {% endfor %}

   <!-- <div class="text-center">
    Don't see your favorite coin on the list? Read why.
    </div> -->
</div>
<!-- Supported Coins END -->

<hr>

<!-- Download Now START -->
<div class="row leave-space-up leave-space-down feature anchor" id="download-now" >
   <div class="col-md-8 col-md-offset-2">
      <img src="/img/coinomi-logo-medium.png" height="100" width="100" />
      <h3 style="padding-bottom:15px;">Get your FREE multicoin wallet now!</h3>
      <a href="https://play.google.com/store/apps/details?id=com.coinomi.wallet"
      onclick="recordOutboundLinks('Play Store link', this.href); return true;">
      <img alt="Android app on Google Play"
      src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
  </a>
  <p class="text-muted leave-space-up">
      or <a href="https://github.com/Coinomi/coinomi-android/releases/latest" target="_blank">download</a> the latest APK
  </p>
</div>
</div>
<!-- Download Now END -->

</div>
