<div class="footer">

  <p style="font-size:13px;">
    <span>2015 &copy; Coinomi - All rights reserved</span>
    <span class="footer-span">|</span>
    <span><a href="https://play.google.com/store/apps/details?id=com.coinomi.wallet" target="_blank"><i class="fa fa-android"></i></a></span>
    <span class="footer-span">|</span>
    <span>  <a href="https://github.com/coinomi/" target="_blank"><i class="fa fa-github"></i></a></span>
    <span class="footer-span">|</span>
    <span> <a href="https://twitter.com/coinomiwallet" target="_blank"><i class=" fa fa-twitter"></i></a></span>
    <span class="footer-span">|</span>
    <span><a href="https://www.facebook.com/pages/Coinomi/743756395745507" target="_blank"><i class="fa fa-facebook"></i></a></span>
    <span class="footer-span">|</span>
    <span> <a href="https://www.linkedin.com/company/9324746" target="_blank"><i class="fa fa-linkedin"></i></a></span>
    <span class="footer-span">|</span>
    <span> <a href="https://angel.co/coinomi" target="_blank"><i class="fa fa-angellist"></i></a></span>
    <span class="footer-span">|</span>
    <span> <a href="../terms/">Terms of Use</a></span>
    <span class="footer-span">|</span>
    <span> <a href="../privacy/">Privacy Policy</a></span>
    <span class="footer-span">|</span>
    <span> <a href="Press-Kit.zip">Press Kit</a></span>
  </p>

<!--
  <p>
    <div class="col-md-8 col-md-offset-2 text-center" style=font-size:8px;>
      Coinomi will not be responsible for any losses, damages or claims arising from events falling within the scope of the following categories: mistakes made by the user of any cryptocurrency-related software or service, e.g., forgotten passwords, payments sent to wrong coin addresses, accidental deletion of wallets, software problems of the wallet and/or any cryptocurrency-related software or service, e.g., corrupted wallet file, incorrectly constructed transactions, unsafe cryptographic libraries, malware affecting the wallet and/or any cryptocurrency-related software or service, technical failures in the hardware of the user of any cryptocurrency-related software or service, e.g., data loss due to a faulty or damaged storage device, security problems experienced by the user of any cryptocurrency-related software or service, e.g., unauthorized access to users' wallets and/or accounts or actions or inactions of third parties and/or events experienced by third parties, e.g., bankruptcy of service providers, information security attacks on service providers, and fraud conducted by third parties. The wallet is provided on an "as is" basis without any warranties of any kind regarding the wallet and/or any content, data, materials and/or services provided on the wallet. Unless otherwise required by law, in no event shall the owners of, or contributors to, the wallet be liable for any damages of any kind, including, but not limited to, loss of use, loss of profits, or loss of data arising out of or in any way connected with the use of the wallet. In no way are the owners of, or contributors to, the wallet responsible for the actions, decisions, or other behavior taken or not taken by you in reliance upon the wallet.
    </div>
  </p>

  <p>
    <br /><br />
  </p>
  -->

</div>

<!-- icons by FontAwesome, crypto-icons by Chris Shepherd -->