	    <div class="header">

	    	<nav class="navbar navbar-default navbar-fixed-top">
	    		<div class="container-fluid">
	    			<!-- Brand and toggle get grouped for better mobile display -->
	    			<div class="navbar-header">
	    				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
	    					<span class="sr-only">Toggle navigation</span>
	    					<span class="icon-bar"></span>
	    					<span class="icon-bar"></span>
	    					<span class="icon-bar"></span>
	    				</button>
	    				
	    				<a href="/" class="navbar-brand"><img src="../favicon.ico" width="21px"></a>
	    				<a class="navbar-brand" href="/">Coinomi</a>
	    			</div>

	    			<!-- Collect the nav links, forms, and other content for toggling -->
	    			<div class="collapse navbar-collapse" id="navbar-collapse">
	    				<ul class="nav navbar-nav">
	    					<li><a href="/#features">Features</a></li>
	    					<li><a href="/#supported-coins">Supported Coins</a></li>
	    					<li><a href="/faq">F.A.Q.</a></li>
	    					<!-- <li><a href="recovery-phrase-tool.html" target="_blank">Seed Recovery Tool</a></li> -->
	    					<li><a href="/team">Team</a></li>
	    					<li><a href="/support">Support</a></li>
	    				</ul>
	    				<ul class="nav navbar-nav navbar-right">
	    					<li><a href="/#download-now">Download</a></li>
	    				</ul>
	    			</div><!-- /.navbar-collapse -->
	    		</div><!-- /.container-fluid -->
	    	</nav>
	    	<div style="margin-top:45px;"></div>
	    </div>